footer 
    .footer
        .container
            .footer-blok
                .footer-blok-menu
                    ul
                        li 
                            a(href="") Каталог       
                        li 
                            a(href="") О компании    
                        li 
                            a(href="") Доставка 
                        li 
                            a(href="") Ремонт       
                        li 
                            a(href="") Монтаж       
                        li 
                            a(href="") Контакты
            
                .footer-blok-contact
                    a.footer-blok-contact-tel(href="tel:+7 (962)-881-57-88") +7 (962)-881-57-88
                    a.footer-blok-contact-mail(href="mailto:va@vaitek.ru") va@vaitek.ru
                    p Сочи, улица Гагарина, 72
                    a.footer-blok-contact-btn(href="") напишите нам
    .footer-bottom
        .container.footer-bottom-container
            p Все права защищены. “Вайтек” 2019
            a(href="")  Политика конфиденциальности
            a(href="") Сделано в RUSO
